<div class="line_top white"></div>

<div id='footer'>
	<div class='container'>
		<div class="top">
			<nav>
				<h4>Nabízíme</h4>
				<ul>
					<li>Montáž a demontáž lešení</li>
					<li>Natěračské a malířské práce</li>
					<li>Zámečnické práce</li>
					<li>Zednické práce</li>
					<li>Demoliční práce</li>
					<li>Tryskání ocelových konstrukcí a betonu</li>
					<li>Autodopravu o největší povolené hmotnosti nepřesahující 3,5 tuny</li>
				</ul>
			</nav>
			<nav>
				<h4>Používáme lešení</h4>
				<ul>
					<li>Trubkové</li>
					<li>Layher</li>
					<li>Sprint</li>
					<li>Peri</li>
					<li>MULTISYSTEM</li>
				</ul>
			</nav>
			<nav>
				<h4>Kde nás znají</h4>
				<ul>
					<li>Třinecké železárny</li>
					<li>ArcelorMittal Ostrava a.s.</li>
					<li>US Steel Košice</li>
					<li>Biocel Paskov a.s.</li>
					<li>Bonatrans Bohumín</li>
					<li>OKD Důl Darkov</li>
				</ul>
			</nav>
			<nav>
				<h4>Kontakt</h4>
				<ul>
					<li>BUGÁŇ MONTÁŽE A STAVBY s.r.o.</li>
					<li>Pikartská 1337/7, Radvanice, 716 00 Ostrava</li>
					<li>Tel.: 736 416 507</li>
					<li>Tel.: 727 964 613</li>
					<li class='email'>E-mail: <a href="mailto:lesenari@centrum.cz">lesenari@centrum.cz</a></li>
				</ul>
			</nav>
			<div class="clearfix"></div>
		</div>

		<div class="copyright"><strong>BUGÁŇ MONTÁŽE A STAVBY s.r.o.</strong> - 1993 - 2024 © Všechna práva
			vyhrazena</div>

	</div>
</div>