<meta charset='utf-8'>
<meta name="language" content="czech">
<meta name="google-site-verification" content="lHPqywn05CuT3o7eWlek-udk_IBH-cHU8nll3-xBEjE" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Bugáň montáže a stavby s.r.o. - Oficiální stránka</title>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="./stylesheets/style.css">

<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle/3.0.3/jquery.cycle.lite.min.js"></script>
<script src="./javascripts/javascript.js"></script>