<div class="line_top black"></div>

<div id='intro'>
	<div class='container'>
		<h2>Potřebujete postavit průmyslové lešení?<br>
			Tady jste na správném místě!</h2>

		<img class="img-frame img-logo" src="./images/logo_2.jpg">

		<p>Jsme firma, která se postará o bezproblémové postavení lešení, demontáž, a mnoho jiných prací. Těšíme se
			na spolupráci s Vámi.</p>
		<div class="centrator">
			<a class="button btn-more" href="/ofirme.html">Více o firmě</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>