<div class="line_top black"></div>
<div id='kontakt'>
	<div class='container'>
		<div class="left">
			<h2>Kontaktní údaje</h2>
			<ul>
				<h3>BUGÁŇ MONTÁŽE A STAVBY s.r.o.</h3>
				<li>Pikartská 1337/7, Radvanice, 716 00 Ostrava</li>
				<li>Tel. jednatel: <b>736 416 507</b></li>
				<li>Tel. kancelář, asistentka: <b>727 964 613</b></li>
				<li>IČ: 02924404</li>
				<li>DIČ: CZ02924404</li>
				<li class='email'>E-mail: <a href="mailto:lesenari@centrum.cz">lesenari@centrum.cz</a></li>
			</ul>
		</div>

		<div class="right">
			<a href="http://www.cesko-katalog.cz" title="Česko Katalog">
				<img src="http://www.cesko-katalog.cz/banery/cesko-katalog-90x60.gif" width="90" height="60" alt="Česko Katalog - Katalog firem" />
			</a>

			<img class="ziva-firma-logo" src="./images/spolehliva-firma-2023_250.png" alt="Spolehlivá firma">

			<div class="csn-9001-logo">
				<img class="logo" src="./images/ISO_9001_icon.png" alt="ISO 9001">
				<a href="certifikat">Zobrazit certifikát</a>

				<div class="certifikat-detail">
					<div class="bg closable"></div>
					<div class="certifikat-detail_wrapper">
						<div class="certifikat-detail_close closable">×</div>
						<img src="./images/certifikat.jpg" alt="ISO 9001">
					</div>
				</div>
			</div>
		</div>

		<div class="mapa">
			<div class="google_iframe img-frame">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.639409078571!2d18.338338015879405!3d49.83044213972447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4713fce5e9685fbd%3A0x61497fba964a45d0!2sPikartsk%C3%A1+1337%2F7%2C+716+00+Ostrava-Radvanice+a+Bartovice%2C+Czechia!5e0!3m2!1sen!2ssk!4v1555664963040!5m2!1sen!2ssk"
					width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>