<div class="line_top black"></div>

<div id='ostatni'>
	<div class='container'>
		<h2>Ostatní</h2>
		<div class="main">
			<p>Zajistíme Vám autodopravu o největší povolené hmotnosti nepřesahující 3,5 tuny.</p>
		</div>
	</div>
</div>