<!DOCTYPE html>
<html>

<head>
	<%- include('partials/head') %>
</head>

<body>

	<%- include('partials/analyticstracking') %>
	<%- include('partials/menu') %>

	<div class="line_top black"></div>
	<div id='o_firme'>
		<div class='container'>
			<h2>Vítejte u nás</h2>
			<img class="img-frame" src="./images/lesenar.jpg">
			<p>Naše společnost provádí speciální lešenářské práce, práce ve výškách, malířské práce, zednické práce a
				mnoho jiného. Naši zkušení pracovníci kompletně zajistí stavbu lešení, dovoz a odvoz materiálu ze
				stavby. Pracujeme s různými typy lešení v závislosti na typu a charakteru požadavek.</p>
			<p>Pro stavbu pracujeme s <b>trubkovým lešením</b>, lešením <b>Layher</b>,<b> Sprint</b> a <b>Peri</b>.
				V roce 2019 jsme zavedli do provozu modulové lešení <b>MULTISYSTEM</b>, které využíváme výhradně u průmyslových staveb a objektů.
				Lešení montujeme jako:
				<ul>
					<li>Závěsné lešení</li>
					<li>Řádové lešení</li>
					<li>Prostorové lešení</li>
					<li>Vysunuté lešení</li>
				</ul>
			</p>
			<p>Působíme v <b>celé České republice a na Slovensku.</b></p>
			<p>Těšíme se na spolupráci s Vámi. Kontaktovat nás můžete přes <b>lesenari@centrum.cz</b></p>

			<h2>Certifikát ČSN EN ISO 9001</h2>
			<div class="certifikat-wrapper">
				<img src="./images/certifikat.jpg" alt="Certifikát ČSN EN ISO 9001">
			</div>

			<div class="clearfix"></div>
		</div>
	</div>

	<%- include('partials/footer') %>

</body>

</html>